.loader-bg {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #040306;
}
.loading-text {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  line-height: 41.86px;
}
.website-login-logo {
  width: 123.8px;
  height: 49.34px;
}
