.not-found-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.not-found-img {
  width: 80%;
}
.home-page-button {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  background-color: green;
  color: #ffffff;
}
.not-found-heading {
  color: #ffffff;
}
