.song-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.song-item-name {
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 8px;
}
.song-item-artist {
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .song-item {
    display: none;
  }
  .desktop-song-item:hover {
    cursor: pointer;
    background-color: #303030;
  }
}
