.playlist-details-padding {
  min-height: 100vh;
  /* height: 100%; */
}
.playlist-details-bg {
  padding: 0.5rem;
  padding-top: 0px;
  /* background-color: black; */
  /* height: calc(100% - 2.5rem); */
  /* border: solid 1px wheat; */
}
.playlist-success-view {
  height: 100%;
  padding: 15px;
}
.top-fixed-bar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #181818;
  width: 100vw;
}
.h1 {
  margin: 0px;
  padding: 0px;
  color: wheat;
}

.white-color {
  color: aliceblue;
}
.top-image-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.top-img {
  width: 55%;
  border-radius: 9px;
}
.top-name {
  font-weight: 400;
  margin: 5px;
}

@media screen and (min-width: 768px) {
  .playlist-details-bg {
    width: calc(100vw - 3rem);
    overflow-y: scroll;
  }
}
