.home-page {
  background-color: #181818;
}

.mobile-home-header-bg {
  height: 3rem;
  position: fixed;
  top: 0;
  display: flex;
  margin-top: 0px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 1.5rem;
  width: 100%;
  background-color: #040306;
}
.website-logo {
  height: 1.2rem;
}
.three-bars-button {
  border: none;
  color: aliceblue;
  font-size: x-large;
  background-color: transparent;
}
.popup-content {
  background-color: #040306;
  height: 400px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.close-button {
  align-self: flex-end;
  background-color: transparent;
  color: aliceblue;
  font-weight: bold;
  font-size: xx-large;
  border: none;
}
.home-bg {
  background-color: #181818;
  padding: 1rem;
  padding-top: 1.2rem;
  padding-bottom: 2.2rem;

  /* height: 100vh; */
}
.playlist-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-top: 2rem;
}
.playlist-ul {
  width: 100%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  list-style-type: none;
  margin: 0px;
  padding: 0%;
  justify-content: center;
  align-items: center;
}
.playlist-container {
  height: 550px;
  padding-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .home-page {
    display: flex;
  }
  .mobile-navbar {
    display: none;
  }
  .home-bg {
    margin-left: 3.5rem;
    width: calc(100vw - 3.5rem);
  }
}
